# **Proyecto II**
## Erwin Barriga

In [2]:
import pandas as pd

### CONJUNTO DE DATOS 1

#### **Earthquake dataset**

In [3]:
df = pd.read_csv("./Datos 1/earthquake_data.csv")

# Display all columns
pd.set_option('display.max_column', None)

print(df.shape)
df.head()

(782, 19)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,22-11-2022 02:03,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,"Malango, Solomon Islands",Oceania,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",NaN,NaN
2,M 7.0 -,7.0,12-11-2022 07:09,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,NaN,Oceania,Fiji
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,11-11-2022 10:48,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",NaN,NaN
4,M 6.6 -,6.6,09-11-2022 10:14,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,NaN,NaN,NaN

In [4]:
df.isna().sum()

title          0
magnitude      0
date_time      0
cdi            0
mmi            0
alert        367
tsunami        0
sig            0
net            0
nst            0
dmin           0
gap            0
magType        0
depth          0
latitude       0
longitude      0
location       5
continent    576
country      298
dtype: int64

In [5]:
df[df.isna().any(axis=1)]

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",NaN,NaN
2,M 7.0 -,7.0,12-11-2022 07:09,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,NaN,Oceania,Fiji
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,11-11-2022 10:48,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",NaN,NaN
4,M 6.6 -,6.6,09-11-2022 10:14,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,NaN,NaN,NaN
5,M 7.0 - south of the Fiji Islands,7.0,09-11-2022 09:51,4,3,green,1,755,us,142,4.578,26.0,mwb,660.000,-26.0442,178.381,the Fiji Islands,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,13-01-2001 17:33,0,8,NaN,0,912,us,427,0.000,0.0,mwc,60.000,13.0490,-88.660,"Puerto El Triunfo, El Salvador",NaN,NaN
778,"M 6.9 - 47 km S of Old Harbor, Alaska",6.9,10-01-2001 16:02,5,7,NaN,0,745,ak,0,0.000,0.0,mw,36.400,56.7744,-153.281,"Old Harbor, Alaska",North America,NaN
779,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",7.1,09-01-2001 16:49,0,7,NaN,0,776,us,372,0.000,0.0,mwb,103.000,-14.9280,167.170,"Port-Olry, Vanuatu",NaN,Vanuatu
780,"M 6.8 - Mindanao, Philippines",6.8,01-01-2001 08:54,0,5,NaN,0,711,us,64,0.000,0.0,mwc,33.000,6.6310,126.899,"Mindanao, Philippines",NaN,NaN
781,"M 7.5 - 21 km SE of Lukatan, Philippines",7.5,01-01-2001 06:57,0,7,NaN,0,865,us,324,0.000,0.0,mwc,33.000,6.8980,126.579,"Lukatan, Philippines",NaN,Philippines

In [6]:
df["continent"].value_counts()

Asia             100
South America     55
North America     34
Europe            10
Oceania            4
Africa             3
Name: continent, dtype: int64

### Imputación de datos usando el API de OpenCage Geocoding
__[Open Cage](https://opencagedata.com/)__

In [28]:
from opencage.geocoder import OpenCageGeocode
import time

key = "d1e53fb89f1e43ad995eaafe8dfec510"

geocoder = OpenCageGeocode(key)

#### Imputar location:

In [34]:
filter_loc = df["location"].isna()
df[filter_loc]

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
2,M 7.0 -,7.0,12-11-2022 07:09,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,NaN,Oceania,Fiji
4,M 6.6 -,6.6,09-11-2022 10:14,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,NaN,NaN,NaN
19,M 6.9 -,6.9,19-05-2022 10:13,2,5,green,1,733,us,127,0.371,45.0,mww,10.000,-54.1325,159.027,NaN,NaN,NaN
68,M 6.9 -,6.9,01-05-2021 01:27,7,6,green,1,919,us,0,2.619,35.0,mww,43.000,38.2296,141.665,NaN,Asia,Japan
246,M 6.9 -,6.9,28-05-2016 05:38,3,3,green,1,733,us,0,5.485,19.0,mww,405.690,-21.9724,-178.204,NaN,NaN,NaN

In [43]:

for index, row in df[filter_loc].iterrows():
  print(index)
  result = geocoder.reverse_geocode(row["latitude"], row["longitude"])
  time.sleep(2)
  try: 
    df.loc[index,"location"] = result[0]['formatted']
    if pd.isna(row["continent"]):
      df.loc[index,"continent"] = result[0]['components']['continent'] if result[0]['components']['_type'] != 'body_of_water' else result[0]['components']['body_of_water']
    if pd.isna(row["country"]):
      df.loc[index,"country"] = result[0]['components']['country'] if result[0]['components']['_type'] != 'body_of_water' else result[0]['components']['_category']
  except Exception as e:
    print(e)

2
4
19
68
246

In [44]:
df[filter_loc]

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
2,M 7.0 -,7.0,12-11-2022 07:09,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,"Lau, Fiji",Oceania,Fiji
4,M 6.6 -,6.6,09-11-2022 10:14,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,South Pacific,NaN,NaN
19,M 6.9 -,6.9,19-05-2022 10:13,2,5,green,1,733,us,127,0.371,45.0,mww,10.000,-54.1325,159.027,South Pacific,NaN,NaN
68,M 6.9 -,6.9,01-05-2021 01:27,7,6,green,1,919,us,0,2.619,35.0,mww,43.000,38.2296,141.665,"Ishinomaki, Miyagi Prefecture, Japan",Asia,Japan
246,M 6.9 -,6.9,28-05-2016 05:38,3,3,green,1,733,us,0,5.485,19.0,mww,405.690,-21.9724,-178.204,South Pacific,NaN,NaN

#### Imputar Continent

In [46]:
filter_cont = df["continent"].isna()

In [53]:
df[filter_cont]

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",NaN,NaN
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,11-11-2022 10:48,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",NaN,NaN
4,M 6.6 -,6.6,09-11-2022 10:14,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,South Pacific,NaN,NaN
5,M 7.0 - south of the Fiji Islands,7.0,09-11-2022 09:51,4,3,green,1,755,us,142,4.578,26.0,mwb,660.000,-26.0442,178.381,the Fiji Islands,NaN,NaN
6,M 6.8 - south of the Fiji Islands,6.8,09-11-2022 09:38,1,3,green,1,711,us,136,4.678,22.0,mww,630.379,-25.9678,178.363,the Fiji Islands,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776,"M 6.9 - 59 km WSW of Bengkulu, Indonesia",6.9,16-01-2001 13:25,0,6,NaN,0,732,us,117,0.000,0.0,mwb,28.000,-4.0220,101.776,"Bengkulu, Indonesia",NaN,Indonesia
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,13-01-2001 17:33,0,8,NaN,0,912,us,427,0.000,0.0,mwc,60.000,13.0490,-88.660,"Puerto El Triunfo, El Salvador",NaN,NaN
779,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",7.1,09-01-2001 16:49,0,7,NaN,0,776,us,372,0.000,0.0,mwb,103.000,-14.9280,167.170,"Port-Olry, Vanuatu",NaN,Vanuatu
780,"M 6.8 - Mindanao, Philippines",6.8,01-01-2001 08:54,0,5,NaN,0,711,us,64,0.000,0.0,mwc,33.000,6.6310,126.899,"Mindanao, Philippines",NaN,NaN
781,"M 7.5 - 21 km SE of Lukatan, Philippines",7.5,01-01-2001 06:57,0,7,NaN,0,865,us,324,0.000,0.0,mwc,33.000,6.8980,126.579,"Lukatan, Philippines",NaN,Philippines

In [61]:
for index, row in df[df["continent"].isna()].iterrows():
  print(index)
  result = geocoder.reverse_geocode(row["latitude"], row["longitude"])
  time.sleep(1.5)
  try:
    df.loc[index,"continent"] = result[0]['components']['continent'] if result[0]['components']['_type'] != 'body_of_water' else result[0]['components']['body_of_water']
    if pd.isna(row["country"]):
      df.loc[index,"country"] = result[0]['components']['country'] if result[0]['components']['_type'] != 'body_of_water' else result[0]['components']['_category']
  except Exception as e:
    print(e)

47
list index out of range
49
50
52
54
55
56
57
58
list index out of range
59
60
62
63
64
66
67
69
70
72
73
74
75
76
list index out of range
77
78
79
list index out of range
80
82
85
86
list index out of range
87
88
89
90
91
92
93
94
95
97
98
101
102
103
105
107
109
110
111
112
113
114
115
list index out of range
116
117
118
119
120
list index out of range
121
122
123
124
126
127
128
list index out of range
130
131
132
133
136
137
139
140
142
143
144
145
146
148
149
151
152
153
154
155
156
157
158
159
160
161
162
163
165
167
168
169
170
171
173
174
176
177
178
179
180
182
183
184
185
186
187
188
189
191
192
193
194
195
198
list index out of range
201
202
203
204
list index out of range
205
206
207
208
209
210
211
list index out of range
214
216
217
218
219
220
222
223
224
225
226
227
228
230
232
233
234
236
237
238
239
240
242
243
244
245
246
249
254
255
256
257
260
262
264
265
270
272
273
274
275
277
279
280
282
283
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
302
303
304
305
309
310
311
312
313
315
316
317
318
319
320
321
322
list index out of range
323
324
325
326
list index out of range
327
329
330
331
332
333
334
335
337
338
339
341
342
343
344
345
347
348
349
350
351
352
353
list index out of range
354
list index out of range
355
356
list index out of range
357
list index out of range
358
359
360
362
363
364
365
366
367
369
370
371
372
374
375
377
379
380
381
382
383
384
385
386
387
388
389
390
list index out of range
391
392
393
394
395
396
399
401
402
403
407
409
410
411
412
413
414
417
418
419
420
421
list index out of range
423
list index out of range
425
426
428
429
430
431
432
433
434
435
436
440
441
443
446
447
448
450
454
456
457
458
460
461
462
463
464
466
467
470
472
473
474
475
list index out of range
476
477
478
list index out of range
481
483
485
486
487
488
489
491
492
493
494
495
496
498
499
500
501
502
503
505
506
508
509
list index out of range
510
513
514
515
516
518
519
521
522
523
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
542
543
544
545
546
547
549
550
551
553
554
555
558
559
560
563
564
566
567
568
569
570
571
574
575
577
578
579
580
581
585
586
587
588
589
590
591
593
594
595
596
597
598
599
600
601
603
list index out of range
604
605
606
608
609
610
611
614
615
616
617
618
619
620
622
623
624
626
627
628
629
630
633
634
637
640
641
644
646
647
648
649
650
651
653
654
655
656
657
659
660
661
662
663
664
665
666
667
668
669
670
673
674
675
676
677
678
680
list index out of range
681
682
683
684
685
686
688
691
692
694
695
696
697
698
700
703
704
705
706
709
712
714
715
716
719
720
722
723
724
726
list index out of range
727
728
729
731
733
734
735
736
737
738
741
742
747
749
751
752
753
754
755
758
759
760
761
764
765
766
767
768
770
772
773
774
776
777
list index out of range
779
780
781

In [56]:
df.loc[47]

title        M 6.5 - 80 km SW of Jiquilillo, Nicaragua
magnitude                                          6.5
date_time                             22-09-2021 09:57
cdi                                                  7
mmi                                                  5
alert                                            green
tsunami                                              1
sig                                                684
net                                                 us
nst                                                  0
dmin                                             0.993
gap                                              114.0
magType                                            mww
depth                                             21.0
latitude                                       12.1598
longitude                                     -87.8542
location                         Jiquilillo, Nicaragua
continent                                          NaN
country                                            NaN
Name: 47, dtype: object

In [57]:
results = geocoder.reverse_geocode(12.1598	, -87.8542)

In [60]:
results

[]

#### Imputar Country

In [64]:
filter_country = df["country"].isna()

In [83]:
df[filter_country]

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
38,"M 6.6 - 48 km WNW of Pólis, Cyprus",6.6,11-01-2022 01:07,6,6,green,0,976,us,0,1.1680,21.0,mww,21.000,35.1456,31.9095,"Pólis, Cyprus",Asia,natural/water
47,"M 6.5 - 80 km SW of Jiquilillo, Nicaragua",6.5,22-09-2021 09:57,7,5,green,1,684,us,0,0.9930,114.0,mww,21.000,12.1598,-87.8542,"Jiquilillo, Nicaragua",NaN,NaN
58,"M 7.1 - 60 km ENE of Pondaguitan, Philippines",7.1,11-08-2021 17:46,9,7,green,1,846,us,0,1.2730,25.0,mww,55.140,6.4547,126.7420,"Pondaguitan, Philippines",NaN,NaN
76,"M 7.3 - 182 km NE of Gisborne, New Zealand",7.3,04-03-2021 13:27,7,6,green,1,932,us,0,0.9180,24.0,mww,10.000,-37.5960,179.5440,"Gisborne, New Zealand",NaN,NaN
86,"M 6.5 - 94 km NW of Vallenar, Chile",6.5,01-09-2020 21:09,6,6,green,0,674,us,0,0.3880,49.0,mww,16.000,-27.9285,-71.3937,"Vallenar, Chile",NaN,NaN
115,"M 6.7 - 70 km WSW of Constitución, Chile",6.7,29-09-2019 15:57,7,6,green,1,844,us,0,1.2690,98.0,mww,11.000,-35.4758,-73.1630,"Constitución, Chile",NaN,NaN
120,"M 6.8 - 96 km SW of San Antonio, Chile",6.8,01-08-2019 18:28,6,6,green,1,947,us,0,0.8170,35.0,mww,25.000,-34.2364,-72.3102,"San Antonio, Chile",NaN,NaN
128,"M 6.6 - 32 km S of La Libertad, El Salvador",6.6,30-05-2019 09:03,7,6,yellow,1,886,us,0,1.1930,22.0,mww,57.920,13.1994,-89.3056,"La Libertad, El Salvador",NaN,NaN
150,"M 6.8 - 32 km SW of Lithakiá, Greece",6.8,25-10-2018 22:54,8,7,yellow,0,954,us,0,2.2680,15.0,mww,14.000,37.5203,20.5565,"Lithakiá, Greece",Europe,natural/water
196,"M 6.5 - 247 km ESE of Attu Station, Alaska",6.5,08-10-2017 22:34,3,5,green,1,651,us,0,1.1540,11.0,mww,119.000,52.3909,176.7690,"Attu Station, Alaska",North America,natural/water
198,"M 8.2 - near the coast of Chiapas, Mexico",8.2,08-09-2017 04:49,9,7,red,1,2910,us,0,0.9440,22.0,mww,47.390,15.0222,-93.8993,"Chiapas, Mexico",NaN,NaN
204,"M 6.8 - 28 km SW of Puerto San José, Guatemala",6.8,22-06-2017 12:31,6,6,yellow,1,1034,us,0,1.0650,38.0,mww,38.120,13.7174,-90.9718,"Puerto San José, Guatemala",NaN,NaN
211,"M 6.9 - 40 km W of Valparaíso, Chile",6.9,24-04-2017 21:38,9,7,yellow,1,1642,us,0,0.3560,39.0,mww,28.000,-33.0375,-72.0617,"Valparaíso, Chile",NaN,NaN
231,"M 6.9 - 35 km ESE of Namie, Japan",6.9,21-11-2016 20:59,9,6,green,1,1144,us,0,0.6710,10.0,mww,9.000,37.3931,141.3870,"Namie, Japan",Asia,natural/water
322,"M 6.7 - 183 km NE of Gisborne, New Zealand",6.7,16-11-2014 22:33,7,4,green,1,698,us,0,1.0790,25.0,mww,22.000,-37.6478,179.6620,"Gisborne, New Zealand",NaN,NaN
326,"M 7.3 - 74 km S of Intipucá, El Salvador",7.3,14-10-2014 03:51,8,6,yellow,1,982,us,0,1.0780,18.0,mww,40.000,12.5262,-88.1225,"Intipucá, El Salvador",NaN,NaN
353,"M 7.7 - 53 km SW of Iquique, Chile",7.7,03-04-2014 02:43,8,9,yellow,1,1057,us,0,1.0290,44.0,mww,22.400,-20.5709,-70.4931,"Iquique, Chile",NaN,NaN
354,"M 6.5 - 45 km WSW of Iquique, Chile",6.5,03-04-2014 01:58,7,7,green,0,670,us,0,0.8280,82.0,mww,24.070,-20.3113,-70.5756,"Iquique, Chile",NaN,NaN
356,"M 8.2 - 93 km NW of Iquique, Chile",8.2,01-04-2014 23:46,9,8,yellow,1,1332,us,0,0.6090,23.0,mww,25.000,-19.6097,-70.7691,"Iquique, Chile",NaN,NaN
357,"M 6.7 - 63 km WNW of Iquique, Chile",6.7,16-03-2014 21:16,7,7,green,1,718,us,0,1.0080,44.0,mww,20.000,-19.9807,-70.7022,"Iquique, Chile",NaN,NaN
373,"M 6.6 - 36 km W of Kíssamos, Greece",6.6,12-10-2013 13:11,5,6,yellow,0,691,us,0,1.9840,40.0,mww,40.000,35.5142,23.2523,"Kíssamos, Greece",Europe,natural/water
390,"M 6.5 - 44 km W of Masachapa, Nicaragua",6.5,15-06-2013 17:34,5,6,green,1,679,us,698,0.0000,27.0,mww,30.000,11.7630,-86.9260,"Masachapa, Nicaragua",NaN,NaN
404,"M 6.5 - 87 km SE of Ozernovskiy, Russia",6.5,01-03-2013 13:20,3,6,green,0,651,us,480,0.0000,20.7,mww,29.000,50.9580,157.4080,"Ozernovskiy, Russia",Asia,natural/water
405,"M 6.9 - 81 km SE of Ozernovskiy, Russia",6.9,28-02-2013 14:05,5,6,green,1,736,us,531,0.0000,20.7,mww,41.000,50.9540,157.2830,"Ozernovskiy, Russia",Asia,natural/water
421,"M 6.5 - 32 km SW of Champerico, Guatemala",6.5,11-11-2012 22:14,4,5,NaN,0,708,us,598,0.0000,57.3,mww,20.000,14.1290,-92.1640,"Champerico, Guatemala",NaN,NaN
423,"M 7.4 - 33 km S of Champerico, Guatemala",7.4,07-11-2012 16:35,8,7,yellow,0,1455,us,751,0.0000,25.5,mww,24.000,13.9880,-91.8950,"Champerico, Guatemala",NaN,NaN
475,"M 7.9 - 47 km E of ?arai, Japan",7.9,11-03-2011 06:15,8,7,NaN,0,1140,us,163,0.0000,48.4,mwc,42.600,36.2810,141.1110,"?arai, Japan",NaN,NaN
478,"M 6.7 - 38 km W of Constitución, Chile",6.7,14-02-2011 03:40,5,6,NaN,0,731,us,358,0.0000,33.9,mww,21.000,-35.3800,-72.8340,"Constitución, Chile",NaN,NaN
509,"M 6.7 - 52 km NNW of Tomé, Chile",6.7,16-03-2010 02:21,5,6,NaN,0,856,us,312,0.0000,34.7,mwc,18.000,-36.2170,-73.2570,"Tomé, Chile",NaN,NaN
520,"M 6.5 - 37 km WNW of Ferndale, California",6.5,10-01-2010 00:27,7,7,NaN,0,1360,nc,51,0.3225,220.0,mw,28.737,40.6520,-124.6920,"Ferndale, California",North America,NaN
572,"M 6.5 - 50 km S of Koróni, Greece",6.5,14-02-2008 12:08,8,5,NaN,0,692,us,650,0.0000,30.7,mwc,28.000,36.3450,21.8630,"Koróni, Greece",Europe,natural/water
573,"M 6.9 - 35 km S of Methóni, Greece",6.9,14-02-2008 10:09,6,6,NaN,0,941,us,645,0.0000,30.6,mwc,29.000,36.5010,21.6700,"Methóni, Greece",Europe,natural/water
603,"M 6.7 - 43 km SSE of Iztapa, Guatemala",6.7,13-06-2007 19:29,6,6,NaN,0,972,us,468,0.0000,37.7,mwc,23.000,13.5540,-90.6180,"Iztapa, Guatemala",NaN,NaN
680,"M 6.7 - 31 km WNW of Yonakuni, Japan",6.7,15-10-2004 04:08,5,6,NaN,0,705,us,698,0.0000,24.7,mwb,94.000,24.5300,122.6940,"Yonakuni, Japan",NaN,NaN
707,"M 6.7 - 39 km SSE of Kushiro, Japan",6.7,08-10-2003 09:06,0,6,NaN,0,691,us,556,0.0000,55.4,mwc,32.000,42.6480,144.5700,"Kushiro, Japan",Asia,NaN
711,"M 7.4 - 119 km ESE of Shizunai-furukawach?, Japan",7.4,25-09-2003 21:08,0,7,NaN,0,842,us,514,0.0000,78.8,mwc,33.000,41.7740,143.5930,"Shizunai-furukawach?, Japan",Asia,natural/water
726,"M 6.5 - 33 km S of Puerto San José, Guatemala",6.5,21-01-2003 02:46,0,6,NaN,0,650,us,316,0.0000,0.0,mwc,24.000,13.6260,-90.7740,"Puerto San José, Guatemala",NaN,NaN
744,"M 6.8 - 27 km SSW of Nuxco, Mexico",6.8,18-04-2002 05:02,0,6,NaN,0,711,us,292,0.0000,0.0,mwc,24.900,16.9850,-100.8650,"Nuxco, Mexico",North America,NaN
745,"M 7.1 - 67 km ENE of Hualien City, Taiwan",7.1,31-03-2002 06:52,0,6,NaN,0,776,us,550,0.0000,0.0,mwc,32.800,24.2790,122.1790,"Hualien City, Taiwan",Asia,NaN
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,13-01-2001 17:33,0,8,NaN,0,912,us,427,0.0000,0.0,mwc,60.000,13.0490,-88.6600,"Puerto El Triunfo, El Salvador",NaN,NaN
778,"M 6.9 - 47 km S of Old Harbor, Alaska",6.9,10-01-2001 16:02,5,7,NaN,0,745,ak,0,0.0000,0.0,mw,36.400,56.7744,-153.2810,"Old Harbor, Alaska",North America,United States

In [66]:
for index, row in df[df["country"].isna()].iterrows():
  print(index)
  result = geocoder.reverse_geocode(row["latitude"], row["longitude"])
  time.sleep(1.5)
  try:
    df.loc[index,"country"] = result[0]['components']['country'] if result[0]['components']['_type'] != 'body_of_water' else result[0]['components']['_category']
  except Exception as e:
    print(e)

38
47
list index out of range
58
list index out of range
76
list index out of range
86
list index out of range
115
list index out of range
120
list index out of range
128
list index out of range
150
196
198
list index out of range
204
list index out of range
211
list index out of range
231
322
list index out of range
326
list index out of range
353
list index out of range
354
list index out of range
356
list index out of range
357
list index out of range
373
390
list index out of range
404
405
421
list index out of range
423
list index out of range
475
list index out of range
478
list index out of range
509
list index out of range
520
list index out of range
572
573
603
list index out of range
680
list index out of range
707
list index out of range
711
726
list index out of range
744
list index out of range
745
list index out of range
777
list index out of range
778

In [68]:
df.isna().sum()

title          0
magnitude      0
date_time      0
cdi            0
mmi            0
alert        367
tsunami        0
sig            0
net            0
nst            0
dmin           0
gap            0
magType        0
depth          0
latitude       0
longitude      0
location       0
continent     27
country       30
dtype: int64

In [70]:
df[df.isna().any(axis=1)]

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
32,"M 6.5 - 71 km SE of Nikolski, Alaska",6.5,11-01-2022 12:39,0,3,NaN,1,650,at,97,1.616070,108.0,Mi,37.0,52.5020,-168.0800,"Nikolski, Alaska",North Pacific,natural/water
33,"M 6.5 - 71 km SE of Nikolski, Alaska",6.5,11-01-2022 12:39,0,3,NaN,1,650,pt,23,0.000000,208.8,Mi,37.0,52.5020,-168.0800,"Nikolski, Alaska",North Pacific,natural/water
35,"M 6.7 - 91 km SE of Nikolski, Alaska",6.7,11-01-2022 11:35,0,4,NaN,1,691,at,50,0.936943,126.0,Mi,33.0,52.4800,-167.7360,"Nikolski, Alaska",North Pacific,natural/water
36,"M 6.7 - 91 km SE of Nikolski, Alaska",6.7,11-01-2022 11:35,0,4,NaN,1,691,pt,20,0.000000,205.2,Mi,33.0,52.4800,-167.7360,"Nikolski, Alaska",North Pacific,natural/water
47,"M 6.5 - 80 km SW of Jiquilillo, Nicaragua",6.5,22-09-2021 09:57,7,5,green,1,684,us,0,0.993000,114.0,mww,21.0,12.1598,-87.8542,"Jiquilillo, Nicaragua",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,13-01-2001 17:33,0,8,NaN,0,912,us,427,0.000000,0.0,mwc,60.0,13.0490,-88.6600,"Puerto El Triunfo, El Salvador",NaN,NaN
778,"M 6.9 - 47 km S of Old Harbor, Alaska",6.9,10-01-2001 16:02,5,7,NaN,0,745,ak,0,0.000000,0.0,mw,36.4,56.7744,-153.2810,"Old Harbor, Alaska",North America,United States
779,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",7.1,09-01-2001 16:49,0,7,NaN,0,776,us,372,0.000000,0.0,mwb,103.0,-14.9280,167.1700,"Port-Olry, Vanuatu",Oceania,Vanuatu
780,"M 6.8 - Mindanao, Philippines",6.8,01-01-2001 08:54,0,5,NaN,0,711,us,64,0.000000,0.0,mwc,33.0,6.6310,126.8990,"Mindanao, Philippines",Philippine Sea,natural/water
781,"M 7.5 - 21 km SE of Lukatan, Philippines",7.5,01-01-2001 06:57,0,7,NaN,0,865,us,324,0.000000,0.0,mwc,33.0,6.8980,126.5790,"Lukatan, Philippines",Asia,Philippines

In [74]:
df["alert"].value_counts()

green     325
yellow     56
orange     22
red        12
Name: alert, dtype: int64

In [79]:
pd.options.display.max_rows= 200

In [85]:
pd.options.display.max_seq_items = 2000

In [1]:
df.groupby("alert").value_counts()

NameError: name 'df' is not defined